<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Emerging Technologies - COMP30800</p>
    <p>Lab Assignment #1</p>
    <p>Student Name: Ilgu Lee</p>
    <p>Student ID: 300851801</p>
  </body>
</html>
